@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f9f9f9;
}

section,
footer{
    padding: 54px 0;
}

h3{
    font-size: 50px;
}

p{
    color: black;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: #04a00a;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.4s;
}

.btn:hover{
    background-color: white;
    color: #04a00a;
}

/* IMAGEM DE FUNDO */
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* END IMAGEM DE FUNDO */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a:not(.btn):after{
    content: "";
    background-color: #04a00a;
    border-radius: 1.5px;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 96px;
    color:white;
}

.banner .banner-text p{
    font-size: 20px;
    color: #f9f9f9;
    font-weight: lighter;
    margin: 18px 0;
}